// Phần work
.work{
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    #iconWork{
        color: $colorWhite;
        font-size: $fontSizeIcon;
        margin-top: 10px;
    }

    #work__content{
        color: $colorWhite;
        font-size: $fontSizeContent;
    }
}