* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header__left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__left .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .header__left .navbar-brand .logo {
  width: 100px;
}

header .header__left .categories {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .header__left form {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  background: #73606014;
  border: none;
}

header .header__left form:focus-within {
  background: white;
}

header .header__left form input {
  border: none;
  background: transparent !important;
  border: 1px solid #8a92a3;
  border-right: none;
}

header .header__left form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__left form i {
  padding: 11px;
  color: red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header__left form i:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

header .header__left form i:focus {
  background-color: none;
}

header .header__right {
  font-size: 14px;
}

header .header__right li {
  margin-right: 30px;
}

header .header__right a {
  color: #505763 !important;
}

header .header__right .btn__login {
  border: 1px solid black;
}

header .header__right .btn__signup {
  color: white !important;
}

.carousel {
  background-image: url("./../../img/cover.jpg");
  height: 510px;
  background-repeat: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel h1 {
  font-size: 40px;
  font-weight: bold;
}

.carousel p {
  font-size: 18px;
}

.carousel form {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  background: #73606014;
  border: none;
}

.carousel form:focus-within {
  background: white;
}

.carousel form input {
  border: none;
  background: transparent !important;
  border: 1px solid #8a92a3;
  border-right: none;
}

.carousel form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carousel form i {
  padding: 11px;
  color: red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel form i:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.carousel form i:focus {
  background-color: none;
}

.carousel form {
  background: white;
}

.work {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
}

.work #iconWork {
  color: white;
  font-size: 49px;
  margin-top: 10px;
}

.work #work__content {
  color: white;
  font-size: 18px;
}

.course .course__line1 .slidecoursecategory .card-title__content {
  font-size: 10px;
  font-weight: bold;
}

.course .course__line1 .slidecoursecategory h3 {
  font-size: 10px;
}

.course .course__line1 .slidecoursecategory .rating {
  font-size: 10px;
}

.course .course__line1 .slidecoursecategory .card-text__content {
  text-align: right;
}

.course .course__line1 .slidecoursecategory .card-text__content #priceold {
  text-decoration: line-through;
}

.course .course__line1 .slidecoursecategory .card-text__content #pricenew {
  font-weight: bold;
}

.course .course__line1 .slidecategory button {
  background-color: blue !important;
}

.course .course__line1 .slidecategory .slick-dots {
  display: none !important;
}

.course .course__line2 .title {
  font-size: 18px;
}

.course .course__line2 .slide__course .card-title__content {
  font-size: 10px;
  font-weight: bold;
}

.course .course__line2 .slide__course h3 {
  font-size: 10px;
}

.course .course__line2 .slide__course .rating {
  font-size: 10px;
}

.course .course__line2 .slide__course .card-text__content {
  text-align: right;
}

.course .course__line2 .slide__course .card-text__content #priceold {
  text-decoration: line-through;
}

.course .course__line2 .slide__course .card-text__content #pricenew {
  font-weight: bold;
}

.course .course__line2 .slides button {
  background-color: blue !important;
}

.course .course__line2 .slides .slick-dots {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */